.slide {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 1;

	.left {
		background-color: black;
		display: inline-block;
		float: left;
		height: 100%;
		width: 50%;
		left: 0;
		position: absolute;
		transition-delay: all 2s;
		transition: all 2s
	}
	.right {
		background-color: black;
		display: inline-block;
		float: left;
		height: 100%;
		width: 50%;
		right: 0;
		position: absolute;
		transition: all 2s
	}
	.content {
		position: absolute;
		color: white;
		text-align: center;
		.gos2 {
			z-index: 999;
		}
		img {
			
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
.slide-2 {
	position: absolute;
	height: 100vh;
	width: 100vw;

	.top-2 {
		background-color: orange;
		display: inline-block;
		float: left;
		height: 50%;
		width: 100%;
		top: 0;
		position: absolute;
		transition: all 2s
	}
	.bottom-2 {
		background-color: orange;
		display: inline-block;
		float: left;
		height: 50%;
		width: 100%;
		bottom: 0;
		position: absolute;
		transition: all 2s
	}
	.content-2 {
		position: absolute;
		color: white;
		.gos3 {
			z-index: 1000;
		}
	}
}
body {
	margin: 0;
}