<div class='slide'>
<div class='right'>
	
</div>
<div class='left'>
</div>
<div class='content' >
	<%= image_tag 'Cienfeugos.png'%>
	<div class='gos2'>
		Next slide
	</div>
</div>
</div>


<div class='slide-2'>
	<div class='top-2'>	
	</div>
	<div class='bottom-2'>
	</div>
	<div class='content-2'>
		<div class='gos3'>
		moar
	</div>
	</div>
</div>